*{
    margin: 0;
    padding: 0;
    font-style: italic;
}
.second-section{
    display: flex;
    padding-right: 50px;
    padding-left: 50px;
}
.second-content{
    padding-top: 50px;
}
h2{
    font-size: 3rem;
}
.full-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vm;
    background-color: lightblue;
    color: darkslateblue;
}